[push]
	default = simple
[user]
	email = matus.goljer@gmail.com
	name = Matus Goljer
[gui]
	recentrepo = C:/Users/Matus/AppData/Roaming/.emacs.d/vendor/smartparens
[core]
	autocrlf = input
[color]
	ui = auto
