[push]
	default = simple
[user]
	email = matus@saleschamp.nl
	name = Matus Goljer
[gui]
	recentrepo = C:/Users/Matus/AppData/Roaming/.emacs.d/vendor/smartparens
[core]
	autocrlf = input
[color]
	ui = auto
[status]
	submodulesummary = 1
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[tag]
	sort = version:refname
[includeIf "gitdir:~/.emacs.d/"]
	path = ~/.emacs.d/.gitconfig
[includeIf "gitdir:~/dev/haskell/"]
	path = ~/.emacs.d/.gitconfig
