[Unit]
Description=Librespot

[Service]
Restart=always
RestartSec=10
ExecStart=/home/matus/.local/bin/librespot -n "spotify bedroom" --initial-volume 50

[Install]
WantedBy=multi-user.target
