rxvt.print-pipe: "cat > /dev/null"
urxvt.print-pipe: "cat > /dev/null"

!# flash on bell
URxvt.urgentOnBell: true

!# borderless and no scrollbar
URxvt.scrollBar_right: false
URxvt.scrollBar: false
URxvt.borderLess: false

!# the transparency stuff
! Rxvt*inheritPixmap: true
! URxvt*tintColor: white
! URxvt*shading: 20

!# clickable links
URxvt.perl-ext: default,matcher
URxvt.url-launcher: google-chrome
URxvt.matcher.button: 3
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt.matcher.pattern.2: (?<=\\s)`(?=\\w)([^']+)(?<=\\w)'
URxvt.matcher.launcher.2: /home/matus/.local/bin/emacs-show-docs $1
URxvt.keysym.M-Delete: perl:matcher:list

! scrollback buffer lines - 65535 is max on most machines (64 is default)
URxvt.saveLines: 12000

! scrollbar position - left=false (default) or right=true
! URxvt*scrollBar_right: true

URxvt.letterSpace: -1

! xft:Inconsolata:pixelsize=14:antialias=true:hinting=true
URxvt.font: xft:Monospace:pixelsize=14:antialias=true:hinting=true
URxvt.boldFont: xft:Monospace:pixelsize=14:antialias=true:hinting=true

! set color depth
URxvt.depth: 32

! Theme:
#include "/home/matus/dotfiles/X/urxvt-light"
! Theme-end:
